/* CUSTOM PROPS */
:root {
  --color-green: #54e6af;
  --color-green-light: #b3ffe2;
  --color-grey: #2c344b;
  --color-black: #121725;
  --color-white: #ffffff;
  --color-grey-lighter: #5a668a;
  --color-grey-lightest: #c2cbe5;
  --color-red: #fb3e3e;

  --color-bg-body: var(--color-black);
  --color-text: var(--color-grey-lightest);
  --color-primary: var(--color-green);
  --color-primary-light: var(--color-green-light);
  --color-bg-input: var(--color-grey);
  --color-error: var(--color-red);
}


/* GLOBAL */
body {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  font-family: "Chivo", "Arial", sans-serif;
  font-size: 0.9375rem;
  font-weight: 300;
  line-height: 166.667%;
  background-color: var(--color-bg-body);
  background-image: url("../img/body-bg-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--color-text);
}

img {
  height: auto;
}

*:focus {
  outline: 2px dashed var(--color-primary);
  outline-offset: 4px;
}


/* AUTOFILL-STYLES */
/*input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-color: transparent;
  -webkit-text-fill-color: inherit;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}*/


/* PLACEHOLDER-STYLES */
/*::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
  color: rgba(52, 49, 61, 0.5);
  opacity: 1;
}*/


/* VISUALLY-HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* CONTAINER */
.container {
  width: 100%;
  max-width: 1190px;
  padding-left: 24px;
  padding-right: 24px;
  margin-left: auto;
  margin-right: auto;
}


/* MAIN-CONTENT */
.main-content {
  flex-grow: 1;
}


/* HIGHLIGHTED TEXT */
.highlighted-text {
  color: var(--color-primary);
}


/* LOGO */
.logo {
  display: block;
  text-decoration: none;
}

.logo__img {
  width: 135px;
  height: 56px;
}


/* SUPPORTED PLATFORMS */
.supported-platforms__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 0;
}

.supported-platforms__item {
  flex-shrink: 0;
}


/* FORM */
.form__group {
  display: grid;
  gap: 16px;
}

.form__field {
  padding: 8px 32px;
  border: 0;
  border-radius: 28px;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 2;
  background-color: var(--color-bg-input);
  color: var(--color-white);
}

.form__error-message {
  display: none;
  position: absolute;
  left: 32px;
  top: calc(100% + 8px);
  font-size: 0.75rem;
  font-weight: bold;
  line-height: normal;
  color: var(--color-error);
}

.form__group--has-error .form__error-message {
  display: block;
}


/* BUTTON */
.button {
  display: inline-block;
  padding: 8px 28px;
  border: 0;
  border-radius: 28px;
  font-size: 0.875rem;
  font-weight: bold;
  line-height: 2;
  background-color: var(--color-primary);
  color: var(--color-black);
  box-shadow: 0px 25px 20px -20px rgba(84, 230, 175, 0.50);
  text-decoration: none;
  cursor: pointer;
}

.button:hover {
  background-color: var(--color-primary-light);
}

.button:active {
  opacity: 0.6;
}


/* ACCESS REQUEST */
.access-request {
  padding-top: 64px;
  padding-bottom: 96px;
}

.access-request__container {
  display: grid;
}

.access-request__logo {
  display: block;
  justify-self: center;
  margin-bottom: 54px;
}

.access-request__heading {
  margin-bottom: 16px;
  font-size: 1.625rem;
  font-weight: 300;
  line-height: 146.154%;
  color: var(--color-white);
  text-transform: uppercase;
  text-align: center;
}

.access-request__text {
  margin-bottom: 32px;
  text-align: center;
}

.access-request__supported-platforms {
  margin-bottom: 48px;
}

.dots {
  display: none;
}


@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
  body {
    background-image: url("../img/body-bg-mobile@2x.png");
  }
}


/* 540px */
@media only screen and (min-width: 33.75em) {
  .access-request__form {
    max-width: 26.6875rem;
    margin-left: auto;
    margin-right: auto;
  }

  .form__group {
    position: relative;
    z-index: 1;
  }

  .form__submit {
    position: absolute;
    z-index: 1;
    right: 5px;
    top: calc(50%);
    transform: translateY(-50%);
  }

  .form__field {
    padding: 14px 172px 14px 32px;
  }
}

/* 768px */
@media only screen and (min-width: 48em) {
  body {
    background-image: url("../img/body-bg-tablet.jpg");
    background-size: 491px 767px;
    background-position: right top;
  }

  @media
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (   min--moz-device-pixel-ratio: 2),
  only screen and (     -o-min-device-pixel-ratio: 2/1),
  only screen and (        min-device-pixel-ratio: 2),
  only screen and (                min-resolution: 192dpi),
  only screen and (                min-resolution: 2dppx) {
    body {
      background-image: url("../img/body-bg-tablet@2x.jpg");
    }
  }

  .container {
    padding-left: 40px;
    padding-right: 40px;
  }

  .access-request {
    padding-top: 50px;
    padding-bottom: 0;
    margin-bottom: 61px;
  }

  .access-request__logo {
    justify-self: flex-start;
    margin-bottom: 152px;
  }

  .access-request__content {
    display: grid;
    max-width: 39.6875rem;
    padding-top: 92px;
    padding-bottom: 92px;
    background-color: var(--color-bg-body);
  }

  .access-request__heading {
    margin-bottom: 32px;
    font-size: 3rem;
    line-height: 116.667%;
    text-align: left;
  }

  .access-request__text {
    max-width: 27.8125rem;
    margin-bottom: 40px;
    text-align: left;
  }

  .access-request__supported-platforms {
    order: 1;
    margin-bottom: 0;
  }

  .access-request__form {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 64px;
  }

  .supported-platforms__list {
    justify-content: flex-start;
    gap: 40px;
  }

  .supported-platforms__img--spotify {
    width: 96px;
    height: 29px;
  }

  .supported-platforms__img--apple-podcast {
    width: 78px;
    height: 29px;
  }

  .supported-platforms__img--google-podcasts {
    width: 125px;
    height: 18px;
  }

  .supported-platforms__img--pocket-casts {
    width: 129px;
    height: 26px;
  }

  .dots {
    display: block;
    margin-left: 30px;
  }
}

/* 1024px */
@media only screen and (min-width: 64em) {
  body {
    background-image: url("../img/body-bg-desktop.jpg");
    background-size: 888px 640px;
    background-position: right 130px;
  }

  @media
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (   min--moz-device-pixel-ratio: 2),
  only screen and (     -o-min-device-pixel-ratio: 2/1),
  only screen and (        min-device-pixel-ratio: 2),
  only screen and (                min-resolution: 192dpi),
  only screen and (                min-resolution: 2dppx) {
    body {
      background-image: url("../img/body-bg-desktop@2x.jpg");
    }
  }

  .access-request {
    padding-top: 102px;
  }

  .access-request__logo {
    margin-bottom: 102px;
  }

  .access-request__content {
    padding-top: 88px;
    padding-bottom: 88px;
    max-width: 45.1875rem;
  }

  .access-request__heading {
    margin-bottom: 24px;
    font-size: 3.25rem;
    line-height: 119.231%;
  }

  .dots {
    position: absolute;
    z-index: 1;
    right: 0;
    top: 718px;
  }
}
